<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
    <!--配置连接池属性-->
    <context:property-placeholder location="classpath:db.properties"/>

    <!--配置 c3p0 连接池-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- 配置Hibernate SessionFactory相关属性 -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <!-- 注入连接池 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 配置Hibernate属性 -->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.autoReconnect">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>

            </props>
        </property>
        <!-- 加载Hibernate中的映射文件 -->
        <property name="mappingResources">
            <list>
                <value>com/test/ssh/domain/Employee.hbm.xml</value>
                <value>com/test/ssh/domain/User.hbm.xml</value>
                <value>com/test/ssh/domain/Project.hbm.xml</value>
                <value>com/test/ssh/domain/Department.hbm.xml</value>
            </list>
        </property>
    </bean>

    <!--配置 Struts Action类Bean，Scope为Prototype -->
    <bean id="employeeAction" class="com.test.ssh.action.EmployeeAction" scope="prototype">
        <property name="employeeService" ref="employeeService"/>
    </bean>
    <bean id="userAction" class="com.test.ssh.action.UserAction" scope="prototype">
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="projectAction" class="com.test.ssh.action.ProjectAction" scope="prototype">
        <property name="projectService" ref="projectService"/>
    </bean>
    <bean id="departmentAction" class="com.test.ssh.action.DepartmentAction" scope="prototype">
        <property name="departmentService" ref="departmentService"/>
    </bean>


    <bean id="employeeService" class="com.test.ssh.service.impl.EmployeeServiceImpl">
        <property name="employeeDao" ref="employeeDao"/>
    </bean>
    <bean id="userService" class="com.test.ssh.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="projectService" class="com.test.ssh.service.impl.ProjectServiceImpl">
        <property name="projectDao" ref="projectDao"/>
    </bean>
    <bean id="departmentService" class="com.test.ssh.service.impl.DepartmentServiceImpl">
        <property name="departmentDao" ref="departmentDao"/>
    </bean>

    <bean id="employeeDao" class="com.test.ssh.dao.impl.EmployeeDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="userDao" class="com.test.ssh.dao.impl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="projectDao" class="com.test.ssh.dao.impl.ProjectDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="departmentDao" class="com.test.ssh.dao.impl.DepartmentDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- 配置Spring事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>